[init]
  defaultBranch = main

[core]
  excludesfile = ~/.gitignore_global
  pager = delta

[user]
  name = Fabio Scotto di Santolo
  email = fabio.scottodisantolo@gmail.com
  signingkey = 9DDD59AD62494FB2
  editor = nvim

[fetch]
  prune = true

[remote "origin"]
  prune = true

[pull]
  rebase = true

[commit]
  gpgsign = true

[merge]
  conflictstyle = diff3

[color]
  ui = always

[color "status"]
  branch = magenta
  untracked = cyan
  unmerged = yellow bold

[color "diff"]
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 52

[help]
  autocorrect = 30

[interactive]
  diffFilter = delta --color-only

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ld = log -p
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)%n' --all
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  onelinegraph = log --oneline --graph --decorate 
  undo = reset --soft HEAD~1
  stash-all = stash save --include-untracked
  expireunreachablenow = reflog expire --expire-unreachable=now --all
  gcunreachablenow = gc --prune=now 
 
[include]
  path = ~/.themes.gitignore

[delta]
  features = catppuccin-frappe navigate
  true-color = always
  colorMoved = default
  tabs = 4
  side-by-side = true
