[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/S4NKALP/nvim.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
