[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-autoreload"]
	path = tmux/.tmux/plugins/tmux-autoreload
	url = https://git::@github.com/b0o/tmux-autoreload
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://git::@github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-powerline"]
	path = tmux/.tmux/plugins/tmux-powerline
	url = https://git::@github.com/erikw/tmux-powerline
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-power"]
	path = tmux/.tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux.git
