[submodule "nvim"]
	path = nvim
	url = https://github.com/S4NKALP/nvim.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
